@{
    ViewData["Title"] = "Главная";
}

@section Sprites {
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />
}

<div class="row">
    <div class="col-sm-12 col-md-6 min-vh-88-2">
        <div class="bg-photo h-100"></div>
    </div>
    <div class="col-sm-12 bg-transparent col-md-6 pe-0 ps-0 align-self-center">
        <div class="p-sm-0 ps-md-1">
            <br />
            <div class="fs-3 text-white p-3 pb-0 mt-md-2">
                <p>Меня зовут Женя, и я .NET разработчик. </p>
            </div>
            <br />
            <div class="fs-4 p-3 pt-0 text-white">
                <p>
                    Я занимаюсь разработкой коммерческих проектов, на базе платформы .NET. Мои последние проекты проекты, в т.ч. и коммерческие размещены во вкладе:
                    <br />
                    <span><a class="text-decoration-none link-def" asp-controller="Projects" asp-action="Projects">Проекты →</a></span>
                </p>
                <p>
                    Основу моего стека составляют следующие платформы, технологии, методологии и архитектуры: ASP.NET, SQL (MSSQL, MYSQL, PostgreSQL),
                    JS, HTML, CSS, RAZOR, .NET API, SWAGGER, CI/CD, Winforms, WPF, MVC, MVVM, 5-Layer arc, 3-Layer arc...
                </p>
                <p>
                    *В последнее время занимаюсь изучением JS, подробным разделением приложений на Backend и Fronted части, формата React - .NET.
                </p>
                <p>
                    Более подробно узнать о моих навыках вы узнаете из вкладки:
                    <br />
                    <span><a class="text-decoration-none link-def" asp-controller="Home" asp-action="Skills">Навыки →</a></span>
                </p>

                <p>
                    Мой реальный опыт коммерческой разработки составляет 2 года, в течение которых я работаю на фрилансе. В основом занимаюсь выполнением частных заказов,
                    либо заказов на платформе <a href="https://freelance.ru/slouwi" class="text-decoration-none link-def">Freelance.ru</a>, и ей подобных.
                </p>
            </div>
        </div>
    </div>
</div>
